appconfigpy>=1.0.1,<2
click>=6.2,<8
colorama>=0.3.7,<1
Logbook>=0.12.3,<2
DateTimeRange>=1.0.0,<2
msgfy>=0.1.0,<1
path>=13.0.0,<15
pathvalidate>=2.2.2,<3
PyGithub>=1.43.7,<2
retryrequests>=0.0.2,<1
typepy>=1.1.1,<2
typing-extensions>=3.7.4
